@import 'variables';

.header{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 2px 16px 0 rgba(0,0,0,.05);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 97;
    height: 45px;

    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;

        .search-box{
            display: flex;
            flex-direction: row;

            input{
                flex-grow: 2;
                border: 1px solid $light-gray;
                background-color: $light-gray;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;

                &:focus{
                    outline: none;
                    border: 1px solid $primary-color;
                }

                &:focus + button {
                    border: 1px solid $primary-color;
                    background: $primary-color;
                    color: $white-color;

                    &:hover{
                        background-color: $secondary-color;
                    }
                }
            }
            button{
                color: $light-gray;
                border: 1px solid $light-gray;
                background: $light-gray;
                border-radius: 50px;
                cursor: pointer;
                margin-left: -20px;
            }
        }
    }
}

/* RESPONSIVE BREAKPOINTS */

/* Extra small devices only */
@media(max-width: 575px){

    .header{
        .container{
            align-items: center;
        }
    }
}