<div class="container page-container">
    <h1 class="page-title">
        <span *ngIf="!searchQuery">Top books of all time</span>
        <span *ngIf="searchQuery">
            <span>Search results for '{{searchQuery}}'</span>
            <div class="clear-search">
                <button class="button" (click)="clearSearch()">&times; Clear search</button>
            </div>
        </span>
    </h1>
    
    <div class="book-list">
        <div *ngFor="let book of booksForPage" class="book">
            <div class="book-details">
                <div class="cover">
                    <img [src]="book.cover" alt="Book cover" [routerLink]="['/books', book.slug]" [title]="book.title">
                </div>
                
                <div class="book-info">
                    <div class="title" [routerLink]="['/books', book.slug]">{{book.rank + '. ' + book.title}}</div>
                    <div class="author">{{book.author}}</div>
                    
                    <div class="rating">
                        <span class="main">{{book.rating}}</span>
                        <span class="total"> / 10</span>
                    </div>

                    <div class="upvote">
                        <div class="upvotes">{{'Upvoted ' + book.upvotes + ' times'}}</div>
                        <button class="button" [class.activated]="book.upvoted" (click)="toogleUpvote(book)">
                            {{book.upvoted ? 'Upvoted' : 'Upvote'}}
                        </button>
                    </div>
                </div>
                <div class="synopsis-wrap">
                    <div class="synopsis">{{book.synopsis | truncate: 200}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <button class="control-button" (click)="previousPage()" [disabled]="currentPage <= 1">&lsaquo; Previous</button>

        <div class="pages">
            <ng-container *ngFor="let page of pageNumbers">
                <button class="control-button page-button" (click)="goToPage(page)" [class.active]="page == currentPage">{{page}}</button>
            </ng-container>
        </div>

        <button class="control-button"  (click)="nextPage()" [disabled]="currentPage >= totalPages">Next &rsaquo;</button>
    </div>
</div>