@import 'variables';

.page-title{
    text-align: center;
    color: $primary-color;
}
.clear-search{
    .button{
        padding: 5px 15px;
        background-color: $light-gray;
        border-color: $light-gray;
        color: $primary-color
    }
}

.book-list{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    .book{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(42,42,42,.05);
        
        .book-details {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            height: 100%;

            .cover{
                display: flex;
                flex: 0 0 100%;
                max-width: 100%;
                cursor: pointer;
    
                img{
                    align-self: flex-start;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 40%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
    
            .book-info{
                flex: 0 0 100%;
                max-width: 100%;
                display: flex;
                flex-direction: column;

                .title{
                    font-size: 19px;
                    font-weight: bold;
                    color: $secondary-color;
                    padding-left: 15px;
                    cursor: pointer;

                    &:hover{
                        color: $primary-color;
                    }
                }
                .author{
                    padding-left: 15px;
                    font-size: 13px;
                    color: $muted-color;
                }
                .rating{
                    padding-left: 15px;
                    margin-top: 5px;

                    .main{
                        font-weight: bold;
                        color: $primary-color;
                        font-size: 22px
                    }
                    .total{
                        color: $muted-color;
                        font-size: 10px;
                    }
                }
                .upvote{
                    padding-left: 15px;
                    padding-top: 10px;
                    text-align: right;
                    margin-top: auto;

                    .button{
                        width: 100%;
                    }

                    .upvotes{
                        color: $muted-color;
                        font-size: 10px;
                    }
                }
            }

            .synopsis-wrap{
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 10px;

                .synopsis{
                    text-align: justify;
                    font-size: 13px;
                    color: $muted-color;
                }
            }
        }
    }
}

/* RESPONSIVE BREAKPOINTS */

/* Extra small devices only */
@media (max-width: 575px) {  
    .book-list{
        .book{
            .book-details {
                .cover{
                    margin-bottom: 15px;
                }

                .book-info{
                    flex: 0 0 100%;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;

                    .title,
                    .author,
                    .rating,
                    .upvote{
                        padding-right: 15px;
                    }
                }
                .synopsis-wrap{
                    .synopsis{
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

/* Small devices and up */
@media (min-width: 576px) {  
    .book-list{
        .book{
            /* set book - info ratio here */
            .book-details {
                .cover{
                    flex: 0 0 20%;
                    max-width: 20%;

                    img{
                        max-width: 100%;
                    }
                }
                .book-info{
                    flex: 0 0 80%;
                    max-width: 80%;
                }
            }
        }
    }
}
 
/* Medium devices and up */
@media (min-width: 768px) {  
    .book-list{
        .book{
            flex: 0 0 45%;
            max-width: 45%;

            /* set book - info ratio here */
            .book-details {
                .cover{
                    flex: 0 0 30%;
                    max-width: 30%;
                }
                .book-info{
                    flex: 0 0 70%;
                    max-width: 70%;
                }
            }
        }
    }
}
 
/* Large devices and up */
@media (min-width: 992px) { 

}
 
/* Extra large devices and up */
@media (min-width: 1200px) {  

}