@import 'variables';

.back-button{
    a{
        text-decoration: none;
        color: $primary-color;
        font-weight: bold;

        &:hover{
            color: $secondary-color;
        }
    }
}
.title{
    color: $primary-color;
    margin-bottom: 0;
}
.author{
    margin-bottom: 20px;
}
.upvote{
    margin-bottom: 20px;

    .upvotes{
        color: $muted-color;
        font-size: 10px;
        display: inline;
        vertical-align: bottom;
        padding-left: 5px;
    }
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.cover{
    // margin-left: auto;
    margin-right: auto;
    flex: 0 0 40%;
    max-width: 40%;
    img{
        border-radius: 10px;
        width: 100%;
    }
}
.synopsis{
    flex: 0 0 60%;
    max-width: 60%;
    text-align: justify;

    .synopsis-container{
        margin: 15px;
        margin-top: 0;
        padding: 20px;
        background-color: $light-background;
        border-radius: 10px;

        .header{
            margin-top: 0;
        }
    }
}
.rating{
    margin-bottom: 20px;

    .main{
        font-weight: bold;
        color: $primary-color;
        font-size: 22px
    }
    .total{
        color: $muted-color;
        font-size: 10px;
    }
}
.comments{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;

    .header{
        flex: 0 0 100%;
    }
    .new-comment{
        flex: 0 0 100%;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 2px solid rgba(42,42,42,.05);

        input{
            min-width: 150px;
            border: 2px solid $light-gray;
            padding: 5px 10px;
            border-radius: 4px;
            outline: none;
            font-size: 11px;
            font-family: inherit;
            height: 14px;

            &:focus,
            &:hover{
                border: 2px solid $primary-color;
            }

            &.ng-invalid.ng-touched{
                border: 2px solid tomato;
            }
        }
        textarea{
            transition: height 0.5s ease;
            width: 100%;
            resize: none;
            box-sizing: border-box;
            border: 2px solid $light-gray;
            padding: 5px 10px;
            border-radius: 4px;
            outline: none;
            font-size: 11px;
            font-family: inherit;

            &:focus,
            &:hover{
                border: 2px solid $primary-color;
            }

            &.ng-invalid.ng-touched{
                border: 2px solid tomato;
            }
        }
    }
    .comment-list{
        flex: 0 0 100%;

        .comment{
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;

            .user-circle {
                flex: 0 0 15px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                padding: 8px;
                background: $primary-color;
                color: $white-color;
                text-align: center;
                font-size: 13px;
                line-height: 15px;
                font-weight: bold;
            }
            .user-comment{
                flex: 1;

                .name{
                    padding-left: 10px;
                    font-size: 12px;
                    font-weight: bold;
                }
                .text{
                    padding-left: 10px;
                    font-size: 12px;
                }
                .date{
                    padding-top: 5px;
                    padding-left: 10px;
                    font-size: 10px;
                    color: $muted-color;
                }
            }
        }
    }
}
.no-book{
    color: $muted-color;
    text-align: center;
    
    h1{
        font-size: 50px;
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: $primary-color;
    }
}

/* RESPONSIVE BREAKPOINTS */

/* Extra small devices only */
@media(max-width: 575px){
    .cover{
        flex: 0 0 70%;
        max-width: 70%;
    }
}

/* Small devices only */
@media (max-width: 767px) {  
    .synopsis{
        flex: 0 0 100%;
        max-width: 100%;

        .synopsis-container{
            margin: 0;
            margin-top: 20px;
        }
    }
}