<div class="container page-container">
    <div class="back-button">
        <a [routerLink]="['/books']">&lsaquo; Back</a>
    </div>

    <ng-container *ngIf="book; else noBook">
        <!-- Title and author -->
        <h1 class="title">{{book.title}}</h1>
        <div class="author">
            {{'By ' + book.author}}
        </div>

        <!-- Rating -->
        <div class="rating">
            <span class="main">{{book.rating}}</span>
            <span class="total"> / 10</span>
        </div>

        <!-- Upvotes -->
        <div class="upvote">
            <button class="button" [class.activated]="book.upvoted" (click)="toogleUpvote(book)">
                {{book.upvoted ? 'Upvoted' : 'Upvote'}}
            </button>
            <div class="upvotes">{{'Upvoted ' + book.upvotes + ' times'}}</div>
        </div>

        <!-- Cover and synopsis -->
        <div class="flex-wrap">
            <div class="cover">
                <img [src]="book.cover" alt="Book cover" [title]="book.title">
            </div>
        
            <div class="synopsis">
                <div class="synopsis-container">
                    <h3 class="header">Synopsis</h3>
                    <div class="text">
                        {{book.synopsis}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="comments">
            <h3 class="header">{{(book.comments?.length > 0 ? book.comments?.length : '') + ' Comment' + (book.comments?.length > 1 ? 's' : '')}}</h3>

            <div class="new-comment">
                <form [formGroup]="commentForm" (ngSubmit)="addComment()" >
                    <div class="name">
                        <input type="text" formControlName="name" placeholder="Your name">
                    </div>
                    <div class="text">
                        <textarea rows="5" formControlName="comment" placeholder="Write a comment..."></textarea>
                    </div>
                    <div class="post-button" type="submit">
                        <button class="button">Post</button>
                    </div>                  
                  </form>
            </div>

            <div class="comment-list">
                <div *ngFor="let comment of book.comments" class="comment">
                    <div class="user-circle">
                        {{comment.name[0] | uppercase}}
                    </div>
                    <div class="user-comment">
                        <div class="name">
                            {{comment.name}}
                        </div>
                        <div class="text">
                            {{comment.comment}}
                        </div>
                        <div class="date">
                            {{comment.datetime | timeSince }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #noBook>        
        <div *ngIf="isLoading" class="loading">
            <app-spinner></app-spinner>
        </div>

        <div *ngIf="!isLoading" class="no-book">
            <h1>Book not found</h1>
            Please return <a [routerLink]="['/books']">home</a> and try again
        </div>
    </ng-template>
</div>