/* VARIABLES */
/* MIXINS */
/* STYLES */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #faf9f3;
  color: #333;
  font-size: 14px;
}
body .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* TOP ACTIONS */
.top-actions {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.top-actions .container {
  display: flex;
  justify-content: space-between;
}
.top-actions .container .top-logo {
  padding: 5px 15px;
  background-color: #ccc;
  border-radius: 4px;
  min-width: 150px;
  margin: 5px 0;
  text-align: center;
}
.top-actions .container .top-menu ul {
  display: flex;
  list-style-type: none;
  margin: unset;
}
.top-actions .container .top-menu ul li {
  padding: 10px 15px;
  margin: 0 2px;
  border-radius: 4px;
  cursor: pointer;
}
.top-actions .container .top-menu ul li.active, .top-actions .container .top-menu ul li:hover {
  background-color: #ebc200;
  color: #fff;
}

/* MAIN CONTENT */
.main .container {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px #dddddd;
  -moz-box-shadow: 0px 0px 8px 0px #dddddd;
  box-shadow: 0px 0px 8px 0px #dddddd;
  padding: 25px;
  margin-bottom: 45px;
}
.main .container h1 {
  margin-top: 0;
  font-weight: normal;
  font-size: 40px;
}

/* FEATURED BOOK */
.featured-book {
  background-color: #faf9f3;
  margin-left: -25px;
  margin-right: -25px;
  padding: 25px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
.featured-book .recommended {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ebc200;
  color: #fff;
  border-bottom-left-radius: 10px;
  padding: 5px 10px;
  font-size: 13px;
}
.featured-book img {
  border-radius: 10px;
  flex: 0 0 25%;
  max-width: 25%;
  align-self: flex-start;
}
.featured-book .book-info {
  flex: 0 0 75%;
  max-width: 75%;
}
.featured-book .book-info .title {
  margin: 0;
  padding: 0 15px;
  font-size: 35px;
}
.featured-book .book-info .author {
  padding: 0 15px;
  color: #666;
}
.featured-book .book-info .synopsis {
  padding: 0 15px;
  margin-top: 20px;
}

/* TOP VOTED */
.top-voted {
  padding-top: 20px;
}
.top-voted h2 {
  font-size: 30px;
}
.top-voted .books-list {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-voted .books-list .book {
  flex: 0 0 32%;
  max-width: 32%;
  background-color: #faf9f3;
  border-radius: 10px;
  position: relative;
  padding-top: 15px;
}
.top-voted .books-list .book .position {
  position: absolute;
  top: 10px;
  right: 5px;
}
.top-voted .books-list .book .position span {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #ebc200;
  color: #ebc200;
  display: inline-block;
  font-weight: bold;
  line-height: 30px;
  width: 30px;
  margin-right: 5px;
  text-align: center;
}
.top-voted .books-list .book img {
  display: flex;
  border-radius: 10px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.top-voted .books-list .book .book-info {
  padding: 0 20px;
}
.top-voted .books-list .book .book-info .title {
  font-size: 14px;
  margin-bottom: 5px;
}
.top-voted .books-list .book .book-info .author {
  color: #666;
  font-size: 13px;
}
.top-voted .books-list .book .book-info .synopsis {
  font-size: 13px;
}
.top-voted .books-list .book .book-info .synopsis p {
  margin-top: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #292929;
  color: white;
  text-align: center;
  height: 45px;
}
footer .container ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
footer .container ul li {
  padding: 0 30px;
  cursor: pointer;
}
footer .container ul li a:hover {
  color: #ccc;
}

/* RESPONSIVE BREAKPOINTS */
/* Small devices */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* Medium devices  */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Large devices */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* Extra large devices */

/*# sourceMappingURL=q3.css.map */
